<ion-header>
  <ion-toolbar>
    <ion-title>Update ...</ion-title>
    <!-- cancel and update buttons -->
    <ion-buttons slot="secondary">
      <ion-back-button text="Cancel"></ion-back-button>
      <ion-button>Update Product</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-label position="stacked">Name</ion-label><br>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Description</ion-label><br>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Type</ion-label><br>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Colour</ion-label><br>
      <ion-input type="text"></ion-input>
    </ion-item>
  </ion-card>

</ion-content>
