<ion-header>
  <ion-toolbar>
    <ion-button class="ion-float-left" id="homebtn" (click)="HomeBtn()">
      <ion-icon name="home"></ion-icon>
      </ion-button>
    <ion-title>Add item<ion-icon name="information-circle" (click)="Info()"></ion-icon></ion-title>
        <!-- cancel and save buttons -->
    <ion-buttons slot="secondary">
      <ion-back-button text="Cancel"></ion-back-button>
      <ion-button (click)="addItem()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="ItemForm"  >
    <ion-item>
      <ion-label position="stacked">Item Name</ion-label><br>
      <ion-input type="text" formControlName="itemName" placeholder="Blue resin"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Quantity on hand</ion-label><br>
      <ion-input type="number" formControlName="quantityOnHand" placeholder="12"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Last Updated</ion-label><br>
      <!-- <ion-input type="text" formControlName="lastUpdated"> -->
        <ion-datetime displayFormat="YYYY-MM-DDTHH:mm:ss" formControlName="lastUpdated" ></ion-datetime>
      <!-- </ion-input> -->
    </ion-item>
    <ion-item>
