<ion-header>
  <ion-toolbar>
    <ion-button class="ion-float-left" id="homebtn" (click)="HomeBtn()">
      <ion-icon name="home"></ion-icon>
      </ion-button>
    <ion-title>Add product type<ion-icon name="information-circle" (click)="Info()"></ion-icon></ion-title>
        <!-- cancel and save buttons -->
    <ion-buttons slot="secondary">
      <ion-back-button text="Cancel"></ion-back-button>
      <ion-button (click)="addType()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="ProductTypeForm"  >
    <ion-item>
      <ion-label position="stacked">Product Type Name</ion-label><br>
      <ion-input type="text" formControlName="productTypeName" placeholder="Earrings"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Description</ion-label><br>
      <ion-input type="text" formControlName="description" placeholder="Large earrings"></ion-input>
    </ion-item>
  

