<ion-header>
  <ion-toolbar>
    <ion-button class="ion-float-left" id="homebtn" (click)="HomeBtn()">
      <ion-icon name="home"></ion-icon>
      </ion-button>
    <ion-title>Add Supplier Company <ion-icon name="information-circle" (click)="Info()"></ion-icon></ion-title>
      
    
        <!-- cancel and save buttons -->
    <ion-buttons slot="secondary">
      <ion-back-button text="Cancel"></ion-back-button>
      <ion-button (click)="addSupplier()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

 <!-- <ion-card >-->
  <form [formGroup]="SupplierForm">
    <ion-item>
    <ion-label position="stacked">Supplier Name</ion-label><br>
      <ion-input type="text" formControlName="supplierName" placeholder="James Supply Company"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Phone Number</ion-label><br>
      <ion-input type="text" formControlName="supplierPhoneNumber"  placeholder="076 787 9876"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email Address</ion-label><br>
      <ion-input type="text"formControlName="supplierEmail" placeholder="supplier@gmail.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Address</ion-label><br>
      <ion-input type="text" formControlName="supplierAddress" placeholder="245 Milkens Mall Shop 32A"></ion-input>
    </ion-item>
  </form>
  <!--</ion-card>-->

