<ion-header>
  <ion-toolbar>
    <ion-button class="ion-float-left" id="homebtn" (click)="HomeBtn()">
      <ion-icon name="home"></ion-icon>
      </ion-button>
    <ion-title>Update Supplier Details <ion-icon name="information-circle" (click)="Info()"></ion-icon></ion-title>
        <!-- cancel and save buttons -->
    <ion-buttons slot="secondary">
      <ion-back-button text="Cancel"></ion-back-button>
      <ion-button (click)="Update()">Update</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

 <form [formGroup]="SupplierForm">
  <div *ngFor="let del of supplierComp" >
    <ion-item  >
      <ion-label position="stacked">Supplier Name</ion-label><br>
      <ion-input type="text" formControlName="supplierName" [(ngModel)]="del.supplierName" ></ion-input>
    </ion-item>

    <ion-item  >
      <ion-label position="stacked">Supplier Email</ion-label><br>
      <ion-input type="text" formControlName="supplierEmail" [(ngModel)]="del.supplierEmail"></ion-input>
    </ion-item>

    <ion-item  >
      <ion-label position="stacked">Supplier Phone Number</ion-label><br>
      <ion-input type="text" formControlName="supplierPhoneNumber" [(ngModel)]="del.supplierPhoneNumber" ></ion-input>
    </ion-item>

    <ion-item  >
      <ion-label position="stacked">Supplier Address</ion-label><br>
      <ion-input type="text" formControlName="supplierAddress" [(ngModel)]="del.supplierAddress" ></ion-input>
    </ion-item>

  </div>

 </form>
  
</ion-content>
