<ion-header>
  <ion-toolbar>
    <ion-button class="ion-float-left" id="homebtn" (click)="HomeBtn()">
      <ion-icon name="home"></ion-icon>
      </ion-button>
     
    <ion-title>Add product<ion-icon name="information-circle" (click)="Info()"></ion-icon></ion-title>
        <!-- cancel and save buttons -->
    <ion-buttons slot="secondary">
      <ion-back-button text="Cancel"></ion-back-button>
      <ion-button (click)="addProduct()">Save</ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="ProductForm"  >
    <ion-item>
      <ion-label position="stacked">Product Name</ion-label><br>
      <ion-input type="text" formControlName="productName" placeholder="Blue resin"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Price (R)</ion-label><br>
      <ion-input type="number" formControlName="price" placeholder="12.50"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Quantity On Hand</ion-label><br>
      <ion-input type="number" formControlName="quantityOnHand" placeholder="50"></ion-input>
    </ion-item>
    <ion-list>
    <ion-item>
      <ion-label position="stacked">Color </ion-label><br>
      <ion-select  formControlName="productColourId">
        <ion-select-option  *ngFor="let i of colors" value="{{i.productColorId}}">{{i.colorName}}: {{i.description}}</ion-select-option>
      </ion-select>
      <ion-button (click)="color()">Add new color</ion-button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Type </ion-label><br>
      <ion-select  formControlName="productTypeId">
        <ion-select-option  *ngFor="let i of types" value="{{i.productTypeId}}">{{i.productTypeName}}: {{i.description}}</ion-select-option>
      </ion-select>
      <ion-button (click)="type()">Add new type</ion-button>
    </ion-item>
  </ion-list> 
  
  </form>