<ion-header>
  <ion-toolbar>
    <ion-button class="ion-float-left" id="homebtn" (click)="HomeBtn()">
      <ion-icon name="home"></ion-icon>
      </ion-button>
    <ion-title>Update type<ion-icon name="information-circle" (click)="Info()"></ion-icon></ion-title>
    <!-- cancel and update buttons -->
    <ion-buttons slot="secondary">
      <ion-back-button text="Cancel"></ion-back-button>
      <ion-button (click)="Update()">Update</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <form [formGroup]="uTypeForm" >
    <div *ngFor="let Ven of Ven"> 
    <ion-item  >
      <ion-label position="stacked">Description</ion-label><br>
      <ion-input type="text" formControlName="description" [(ngModel)]="Ven.description" ></ion-input>
    </ion-item>

  </div>
    </form>

</ion-content>
