<ion-header>
  <ion-toolbar>
    <ion-button class="ion-float-left" id="homebtn" (click)="HomeBtn()">
      <ion-icon name="home"></ion-icon>
      </ion-button>
    <ion-title>Manage price<ion-icon name="information-circle" (click)="Info()"></ion-icon></ion-title>
        <!-- cancel and save buttons -->
    <ion-buttons slot="secondary">
      <ion-back-button text="Cancel"></ion-back-button>
      <ion-button (click)="addItem()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="ProductPriceForm"  >
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Product </ion-label><br>
        <ion-select  formControlName="productId">
          <ion-select-option  *ngFor="let i of products" value="{{i.productId}}">{{i.productName}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label position="stacked">Price</ion-label><br>
      <ion-input type="number" formControlName="productPrice1" placeholder="25"></ion-input>
    </ion-item>
  
