<ion-header>
  <ion-toolbar>
    <ion-title>Inventory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="invhomediv">
    <ion-button routerLink="/items" routerDirection="root">Items</ion-button>
      <ion-button routerLink="/stocktake" routerDirection="root" >Stock take</ion-button> 
      <ion-button routerLink="/item" routerDirection="root">Write-Off Inventory</ion-button>
      <ion-button routerLink="/supplierpurchase" routerDirection="root">Supplier purchases</ion-button>
    </div>
  </ion-content>
