
#img{
height:60px;
margin-right: 20px;
}
#img2{
    height:90px;
    }

#footer{
    background-color:#FFF1CA;
}
ion-row{
    border:none;
    background-color:#FFF1CA;
}
#socialslogo{
height:25px;

}
