<ion-tabs >

  <ion-tab-bar slot="top">
    <ion-tab-button (click)="Logout()">
      <ion-icon name="person"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="wshome">
      <ion-icon name="color-palette"></ion-icon>
      <ion-label>Workshop</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="products">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>

  <ion-tab-button tab="client">
    <ion-icon name="man"></ion-icon>
    <ion-label>Clients</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="delivery">
    <ion-icon name="earth"></ion-icon>
    <ion-label>Deliveries</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="discount">
    <ion-icon name="cut"></ion-icon>
    <ion-label>Discounts</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="inventoryhome">
    <ion-icon name="file-tray-stacked"></ion-icon>
    <ion-label>Inventory</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="newsletter">
    <ion-icon name="newspaper"></ion-icon>
    <ion-label>Newsletter</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="orders">
    <ion-icon name="layers"></ion-icon>
    <ion-label>Orders</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="policy">
    <ion-icon name="information-circle"></ion-icon>
    <ion-label>Policy</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="reports">
    <ion-icon name="reader"></ion-icon>
    <ion-label>Reports</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="supplier">
    <ion-icon name="storefront"></ion-icon>
    <ion-label>Suppliers</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="helppage">
    <ion-icon name="open"></ion-icon>
    <ion-label>Help</ion-label>
  </ion-tab-button>
  <img src="assets/logo2.png" id="img">

</ion-tab-bar>
<div class = "bar bar-footer" id="footer">
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/logo.png" id="img2">
</ion-col>
<ion-col>
<ion-label>Follow us on:</ion-label> <br>
<img src="assets/tiktoklogo.png" id="socialslogo">
<ion-label> @resinbypaigea</ion-label> <br>
<img src="assets/instagramlogo.png" id="socialslogo">
<ion-label> @resinbypaigea</ion-label>
</ion-col>

</ion-row>
</ion-grid>
  </div>
</ion-tabs>

