<ion-header>
  <ion-toolbar>
    <ion-title>Add Policy</ion-title>
        <!-- cancel and save buttons -->
    <ion-buttons slot="secondary">
      <ion-back-button text="Cancel"></ion-back-button>
      <ion-button>Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-card >
    <ion-item>
      <ion-label position="stacked">Policy Name</ion-label><br>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Decription</ion-label><br>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Date</ion-label><br>
      <ion-input type="text"></ion-input>
    </ion-item>
  </ion-card>

