<ion-header>
  <ion-toolbar>
    <ion-title>Writeoff Inventory Item</ion-title>
    <ion-buttons slot="secondary">
      
      <ion-back-button text="Cancel"></ion-back-button>
      <ion-button (click)="AddWriteOff()">SAVE</ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <form [formGroup]="WriteOffForm">
       
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Inventory Item </ion-label><br>
          <ion-select  formControlName="inventoryId">
            <ion-select-option  *ngFor="let i of inventoryitems" value="{{i.inventoryId}}">{{i.itemName}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <br>
      <br>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Quantity Written Off</ion-label><br>
          <ion-input type="number" formControlName="writeOffQty" placeholder="2"></ion-input>
        </ion-item>
      </ion-list>
      <br> 
      <br>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Name </ion-label><br>
          <ion-input type="text" formControlName="name" placeholder="Paige"></ion-input>
        </ion-item>
      </ion-list>
      <br>
      <br>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">WriteOffReason </ion-label><br>
          <ion-select  formControlName="writeOffReasonId">
            <ion-select-option  *ngFor="let i of reasons" value="{{i.writeOffReasonId}}">{{i.writeOffReasonDescription}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <br>
      <br>
      <ion-button class="ion-float-left" id="titlebtn" (click)="AddBtn()">
        Add Write-off Inventory Reason
       </ion-button>
      
      
  
    </form>
  
  </ion-content>
  
