<ion-header>
  <ion-toolbar>
    <ion-title>Workshop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="wshomediv">
  <!-- <ion-button routerLink="/tabs/feedback" routerDirection="root">Feedback</ion-button> -->
    <ion-button routerLink="/tabs/attendance" routerDirection="root" >Attendance</ion-button>
    <ion-button routerLink="/tabs/host" routerDirection="root">Hosts</ion-button>
    <ion-button routerLink="/tabs/equipment" routerDirection="root" >Equipment</ion-button>
    <ion-button routerLink="/tabs/booking" routerDirection="root" >Bookings</ion-button> <br>
    <ion-button routerLink="/tabs/slots" routerDirection="root" >Slots</ion-button>
    <ion-button routerLink="/tabs/type" routerDirection="root" >Types</ion-button>
    <ion-button routerLink="/tabs/venue" routerDirection="root" >Venues</ion-button>
  </div>
</ion-content>
