/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
// font
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

ion-title{ 
    font-size: 50px; 
    text-align: center;
    color: black;
    font-family: 'Abel';
    font-weight: bold;
}
ion-back-button {
    --background-hover: lightgrey;
    font-family: 'Abel';
}
ion-button{
    margin-top: 15px;
    // --background: #fde68a;
    --background: black;
    --color: #E9BF4B;
    font-family: 'Abel';
    font-weight: bold;
    text-transform: none;
   
}
ion-icon{
    float: right;
}
ion-row{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
    font-family: 'Abel';
    background-color: #EDFDE3;
}
#tblheader{
    font-size: 18px;
    font-family: 'Abel';
    // background-color:  #adebad;
    background-color: #399004;
    color:white;
    
}

ion-tab-button:hover{
    border-bottom: 3px solid #3CB371;
    text-decoration: none;
}
ion-tab-button{
    font-family: 'Abel';
    font-size: 15px;
}
